/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("./assets/images/outlier-galaxy-ugc-4879-1920.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}